**/node_modules
**/.env
**/database
docker/caddy/data
docker/caddy/config
docker/nginx/certs/**
config.json
**/MusicData/**/*
**/*.pem
### IntelliJ IDEA ###
.idea
*.iws
*.iml
backup/**
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
bot/dat/**
bot/sound/**
bot/MusicData/**
/docker-compose.yaml
/docker/nginx/conf/http.d/nginx.conf
frontend/public/content/image/*/**
/images/**
docker-compose.yaml
docker/nginx/conf/http.d/nginx.conf
**/*.pem
**/*.private